@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
*{
    font-family: 'Indie Flower', cursive;
}
h1{
    width: 50%;
    border: 1px solid red;
    border-radius: 10px;
    background: url("../images/jakus.jpg") no-repeat center;

}
body{
    width: 1920px;
    height: 1500px;
    background: #003b6f;
}