@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
*{
    box-sizing: border-box;

}
.menu{
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}
header {
    background: url("../images/Eval/background-header.jpg") no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
}
header h1{
    font-family: 'Indie Flower', cursive;
}
.align{
    display: flex;
    flex-direction: column;
    text-align : center;
}
header p {
    align-items: center;
    max-width : 800px;
    text-align : justify;
}

#lientortue  {
    height: 100%;
}
#imagetortue {
    height: 100%;
}

header div{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items: center;

}
ul{
    list-style-type: none;
    display : flex;
    justify-content: space-between;
}
 li{
    margin: 10px;
}
li a{
    padding : 10px;
    border-radius: 10px;
    text-decoration : none;
    background-color : #1AD6B7;
    color : white;
}
