@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
*{
    box-sizing: border-box;
}

header {
    background: url("../images/Eval/background-header.jpg") no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.align{
    display: flex;
    flex-direction: column;
    text-align : center;
}
header p {
    align-items: center;
    max-width : 800px;
    text-align : justify;
}
header div nav ul{
    list-style-type: none;
}

header h1{
    font-family: 'Indie Flower', cursive;
}

header p {
    align-items: center;
    max-width : 800px;
    text-align : justify;
}
header div{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items: center;

}
header div nav ul{
    list-style-type: none;
    display : flex;
    justify-content: space-between;
}
header div nav ul li{
    margin: 10px;
}
li a{
    padding : 10px;
    border-radius: 10px;
    text-decoration : none;
    background-color : #1AD6B7;
    color : white;
}

.menu{
    height: 50px;
    background: blue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}
#tortue  {
    height: 100%;
}
header  a img {
    height: 100%;
}
