h1 {
    color: red;
}
.premier {
    color: blue;
    text-align:right;
}
.formu{
    color: black
}
table {
margin-top:10%;
margin-left: 10%;
border-collapse: collapse;
width:30%;
}
caption{
font-size: 20px;
padding: 5px;
}
table, th, td {
border: 1px solid black;
text-align: center;
}
tr:hover {background-color: #f5f5f5;}
td,th{padding: 5px;}
form {
    width:30%;
    margin:5%;
    padding: 2%;
    border: solid 1px
   black;
    } 
