@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
*{
    box-sizing: border-box;
}
.sticky{
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0.40));
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background:linear-gradient(rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0.40)),url("../images/backgroundSombre.jpg");
    padding-bottom: 50px;
    margin-bottom: -50px;
}

header h1{
    font-family: 'Indie Flower', cursive;
}

.align{
    display: flex;
    flex-direction: column;
    text-align : center;
}
header p {
    align-items: center;
    max-width : 800px;
    text-align : justify-all;
}

#lientortue  {
    height: 100%;
}
#imagetortue {
    height: 100%;
}

header div{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items: center;

}
ul{
    list-style-type: none;
    display : flex;
    justify-content: space-between;
}
li{
    margin: 10px;
}
li a{
    padding : 10px;
    border-radius: 10px;
    text-decoration : none;
    background-color : #1AD6B7;
    color : white;
}

li a:hover{
  background: #245fa6
}

h2{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    margin-top: 70px;
}
#plusHaut{
  margin-top: 30px;
}

#Contact{
    margin-right: 15%;
    margin-left: 20%;
    display: flex;

}

#renseignements{
    display: flex;
    flex-direction: column;
    width: 45%;

}
#textbox{
    display: flex;
    flex-direction: column;
    padding-left: 5px
}
#msg{
    height: 100%;
    width: 100%;
}
#envoi{
    font-family: 'Shadows Into Light', cursive;
    padding : 2px;
    border-radius: 10px;
    margin-right: 47%;
    margin-left: 47%;
    text-decoration : none;
    background-color : #1AD6B7;
    color : white;
    display: flex;
    justify-content: center;
}

footer{
    background:#1AD6B7 ;
    height: 35px;
    border-radius: 10px;
    text-align: center;
}

#fText{
  padding-top: 10px;
}

#dansEau{
  float: left;
  padding-right: 13px;
}

#milieu{
  text-align: center;
}

.ecriturebg{
  font-size: 40px;
  font-family: 'Shadows Into Light', cursive;
  display: inline-block;
}
.petitbg{
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
}

aside{
  float: right;
  margin-left: 150px;
  margin-bottom: 150px;
}

main{
  padding-right: 300px;
  padding-left: 200px;
}

.aligner{
  display: inline;
}

hr{
  margin-left: 300px;
  margin-right: 300px;
}
